$fn-mb: 'Montserrat-Bold', sans-serif;
$fn-mbl: 'Montserrat-Black', sans-serif;
$fn-mr: 'Montserrat-Regular', sans-serif;
$fn-mm: 'Montserrat-Medium', sans-serif;
$fn-msb: 'Montserrat-SemiBold', sans-serif;

$green: #7eb252;
$green-text: #a8c48c;
$green-light-bg: #f6f9f3;
$green-light-border: #c8dcba;
$green-dark-border: #a4c58c;
$black-text: #303030;
$gray-text: #9a9a9a;
