@import "fonts";
@import "vars";
@import "libs";

html {
  box-sizing: border-box;
  min-width: 320px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  display: inline-block;
}

li,
ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a,
button {
  color: #000;
  border: none;
  outline: none;
  cursor: pointer;
}

button {
  display: inline-block;
}

body {
  font-family: $rr;
  color: #000;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
}

input:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1780px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

*::selection {
  //выделение на сайте
}
//header

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contacts {
  font-size: 24px;
}

.header__contacts-phone {
  margin-right: 85px;
}

.header__contacts-mail,
.header__contacts-phone {
  position: relative;
}

.header__contacts-mail::before,
.header__contacts-phone::before {
  font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
  font-weight: 900;
  position: absolute;
  font-size: 29px;
  color: $blue;
  top: -2px;
  left: -41px;
}

.header__contacts-phone::before {
  content: '\f879';
}

.header__contacts-mail::before {
  content: '\f0e0';
}

.header__menu {
  font: 28px $rm;
}

.header__menu-item + .header__menu-item {
  margin-left: 40px;
}

.header__menu-item {
  height: 45px;
  position: relative;
  padding-top: 6px;
  overflow: hidden;
}

.header__menu-item::before {
  position: absolute;
  content: '';
  border-bottom: 3px solid rgba($blue, .5);
  width: 100%;
  transform: translateX(-110%);
  transition: transform 0.3s;
  bottom: 0;
}

.header__menu-item:hover::before {
  transform: translateX(0);
}
//slider

.slider__item-content {
  text-align: center;
  position: relative;
}

.slider__item {
  border: 1px solid #000;
  padding-bottom: 27px;
  color: #fff;
  position: relative;
}

.slider__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}


.slider__item-title {
  font: 48px $rm;
  margin-bottom: 34px;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.slider__item-content {
  padding-top: 206px;
  max-width: 636px;
  width: 100%;
  margin: 0 auto;
}

.slider__item-text {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  font: 24px $rr;
  line-height: 29px;
  margin-bottom: 106px;
}

.def__btn {
  display: inline-block;
  color: #fff;
  font: 24px $rb;
  padding: 18px 65px;
  background-color: $blue-btn;
  border-radius: 30px;
}

.slider__img-mouse {
  position: relative;
  margin-top: 64px;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}


@import "media";
