@import "fonts";
@import "vars";
@import "libs";

html {
  box-sizing: border-box;
  min-width: 320px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  display: inline-block;
}

li,
ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a,
button {
  color: #000;
  border: none;
  outline: none;
  cursor: pointer;
}

button {
  display: inline-block;
}

body {
  font-family: $rr;
  color: #000;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
}

input:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1780px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

*::selection {
  //выделение на сайте
}

//header

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 190px;
}

.header__contacts {
  font-size: 24px;
}

.header__contacts-phone {
  margin-right: 85px;
}

.header__contacts-mail,
.header__contacts-phone {
  position: relative;
}

.header__contacts-mail::before,
.header__contacts-phone::before {
  font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
  font-weight: 900;
  position: absolute;
  font-size: 29px;
  color: $blue;
  top: -2px;
  left: -41px;
}

.header__contacts-phone::before {
  content: '\f879';
}

.header__contacts-mail::before {
  content: '\f0e0';
}

.header__menu {
  font: 28px $rm;
}

.header__menu-item + .header__menu-item {
  margin-left: 40px;
}

.header__menu-item {
  height: 45px;
  position: relative;
  padding-top: 6px;
  overflow: hidden;
}

.header__menu-item::before {
  position: absolute;
  content: '';
  border-bottom: 3px solid rgba($blue, .5);
  width: 100%;
  transform: translateX(-110%);
  transition: transform 0.3s;
  bottom: 0;
}

.header__menu-item:hover::before {
  transform: translateX(0);
}
//slider

.slider {
  position: relative;
}

.slider__item-content {
  text-align: center;
  position: relative;
}

.slider__item {
  color: #fff;
  position: relative;
  padding-bottom: 163px;
}

.slider__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}


.slider__item-title {
  font: 48px $rm;
  margin-bottom: 34px;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.slider__item-content {
  padding-top: 206px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.slider__item-text {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  font: 24px $rr;
  max-width: 636px;
  width: 100%;

  line-height: 29px;
  margin:0 auto 106px auto;
}

.def__btn {
  display: inline-block;
  color: #fff;
  font: 24px $rb;
  padding: 18px 65px;
  background-color: $blue-btn;
  border-radius: 30px;
}

.slider::after {
  content: '';
  background-image: url(../img/mouse.png);
  position: absolute;
  z-index: 10;
  width: 21px;
  height: 62px;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.slick-prev,
.slick-next {
  position: absolute;
  z-index: 11;
  top: 0;
  height: 100%;
  width: 696px;
  transition: opacity .5s;
  font-size: 0;
}

.slick-prev {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(196, 196, 196, 0) 100%);
  opacity: 0.1;
}

.slick-next {
  right: 0;
  opacity: 0.1;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(196, 196, 196, 0) 100%);
}

.slick-prev:hover,
.slick-next:hover {
  opacity: 1;
}

.slick-next::before,
.slick-prev::before {
  font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
  font-weight: 900;
  font-size: 72px;
  color: #fff;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-next::before {
  right: 71px;
  content: '\f101';
}

.slick-prev::before {
  left: 71px;
  content: '\f100';
}


//advantages

.advantages {
  text-align: center;
  background: url(../img/advantages-bg.jpg) no-repeat center / cover;
}

.def__title {
  font: 36px $rr;
  display: inline-block;
  margin: 65px auto 20px auto;
  position: relative;

}

.def__title::before,
.def__title::after {
  content: '';
  width: 96px;
  height: 4px;
  background-color: $blue;
  position: absolute;
  top: 50%;
}

.def__title::before {
  left: -130px;
}

.def__title::after {
  right: -130px;
}

//advantages

.advantages .container {
  max-width: 1500px;
}

.advantages__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages__item {
  width: 300px;
  height: 300px;
  margin: 43px;
  background-color: $blue-light;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

  img {
    width: 100%;
  }
}

.advantages__item-title {
  font: 18px $rm;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 5px;
}

.advantages__item-text {
  padding: 0 5px;
  font-size: 14px;
  line-height: 18px;
}

//footer

.footer {
  background-color: $black-footer-bg;
}

.footer__copy {
  text-align: center;
  padding: 29px;
  font: 20px $rm;
  color: #fff;
}

@import "media";
